In [8]:
from scipy.spatial.distance import cdist
import numpy as np
import pandas as pd
import os

In [2]:
def haversine(lat1, lon1, lat2, lon2):
    # Convert degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    
    # Radius of Earth in kilometers
    r = 6371  
    return c * r

In [16]:
buoy_dfs = []
buoy_ids = []
loc = "./data/clean_positions/"
for fname in os.listdir(loc)[:100]:
    buoy_id = fname.split(".csv")[0]
    data = pd.read_csv(loc+fname, index_col="datetime")[["x_stere", "y_stere"]]
    data.index = pd.to_datetime(data.index)

    buoy_dfs.append(data)
    buoy_ids.append(buoy_id)

In [18]:
def distance(buoy_df_1, buoy_df_2):
    # Given two buoy time series, calculate time series of distances
    diff = (buoy_df_1 - buoy_df_2).dropna()
    return np.sqrt(diff.x_stere ** 2 + diff.y_stere ** 2)

distances = [[0 for _ in range(len(buoy_dfs))] for _ in range(len(buoy_dfs))]
for i in range(len(buoy_dfs)):
    for j in range(i, len(buoy_dfs)):
        distances[i][j] = distance(buoy_dfs[i], buoy_dfs[j])
        distances[j][i] = distances[i][j]

index_lookup = {buoy_id:i for i, buoy_id in enumerate(buoy_ids)}

# Look at aggregating over time (i.e. for a given buoy, find the )

In [21]:
def get_distance(time, buoy_1, buoy_2):
    df = distances[index_lookup[buoy_1]][index_lookup[buoy_2]]
    if time in df:
        return df.loc[time]
    else:
        return None

print(index_lookup)
def follow_buoy(buoy_id):
    idx = index_lookup[buoy_id]
    return distances[idx]
dist_df = pd.concat(follow_buoy('300234068345410'),axis=1)
pd.concat([dist_df, buoy_dfs[7]], axis=1).dropna(axis=1, how="all")

# get_distance("2023-03-31 18:00:00", '300234066892270', '300234066417910')

{'300234066892270': 0, '300234068243260': 1, '300234064506420': 2, '300534061809880': 3, '300234066085220': 4, '300234065716210': 5, '900085': 6, '300234066417910': 7, '300234068241700': 8, '300534062724770': 9, '300234061263820': 10, '300234063323170': 11, '132461': 12, '300534060714650': 13, '300025010649550': 14, '300234065170760': 15, '300234068166760': 16, '300234065801030': 17, '300534062129820': 18, '300234062887920': 19, '300534062070970': 20, '300534063803130': 21, '300534062021930': 22, '300234068343430': 23, '128652': 24, '210166': 25, '300234068345410': 26, '300234066219670': 27, '300534063015430': 28, '300234067877380': 29, '300234066305080': 30, '300234066214690': 31, '300234011883240': 32, '300534064264630': 33, '300234068706290': 34, '300234063251960': 35, '300534063800100': 36, '300234063515450': 37, '300234065615560': 38, '300234068241260': 39, '300234061361200': 40, '174646': 41, '128337': 42, '900056': 43, '300234063518440': 44, '300234068312210': 45, '300234066033320': 46, '300534061905370': 47, '300034012586420': 48, '300234068527600': 49, '300234063227960': 50, '300534062128440': 51, '300234061393560': 52, '300534061341560': 53, '300234068280900': 54, '300234066305100': 55, '300234065716130': 56, '300234067706680': 57, '300234068527730': 58, '900065': 59, '300434063446170': 60, '300534060611380': 61, '300234064503600': 62, '300234068341280': 63, '300234065985570': 64, '300234066436240': 65, '300234065800000': 66, '300234067876770': 67, '300234062429080': 68, '300534063013420': 69, '300534062726500': 70, '300234063269720': 71, '300534062831790': 72, '137809': 73, '300234064819910': 74, '300234068241270': 75, '300234065515750': 76, '900050': 77, '900066': 78, '300534062122480': 79, '300534061985510': 80, '300234010424090': 81, '300434066157890': 82, '300234068240860': 83, '300234062321110': 84, '300534061783870': 85, '300025060103020': 86, '210164': 87, '900072': 88, '300534060319430': 89, '900057': 90, '300234066532030': 91, '300234066444880': 92, '137804': 93, '300534061902370': 94, '900032': 95, '300234066414960': 96, '52957': 97, '300234066895280': 98, '900009': 99}

,0,7,9,26,29,30,36,39,67,70,72,79,80,x_stere,y_stere
datetime,,,,,,,,,,,,,,,
2023-01-01 00:00:00,5.177176e+06,2.595451e+06,NaN,0.0,1.238847e+06,NaN,NaN,NaN,1.416659e+06,NaN,1.696787e+06,NaN,5.045273e+06,1.550184e+06,-953642.15031
2023-01-01 01:00:00,5.177501e+06,2.597154e+06,NaN,0.0,1.239638e+06,4.589796e+06,NaN,NaN,1.417604e+06,NaN,1.695597e+06,4.856396e+06,5.045459e+06,1.549253e+06,-952622.51541
2023-01-01 02:00:00,5.177653e+06,2.598209e+06,NaN,0.0,1.240286e+06,4.589828e+06,NaN,NaN,1.418563e+06,NaN,1.694531e+06,4.856396e+06,5.045499e+06,1.548602e+06,-952061.96790
2023-01-01 03:00:00,5.177790e+06,2.598828e+06,NaN,0.0,1.240909e+06,4.589858e+06,NaN,NaN,1.419624e+06,NaN,1.693682e+06,4.856401e+06,5.045521e+06,1.548083e+06,-951885.99736
2023-01-01 04:00:00,5.178012e+06,2.599178e+06,NaN,0.0,1.241460e+06,4.589984e+06,NaN,NaN,1.420760e+06,NaN,1.693190e+06,4.856485e+06,5.045627e+06,1.547547e+06,-952020.09336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-18 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.215716e+06,-425837.57762
2023-06-18 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.215739e+06,-425721.56239
2023-06-18 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.215849e+06,-425742.65119
2023-06-18 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.215731e+06,-425760.23426
2023-06-18 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.215856e+06,-425703.97728